$lt-gray: #ddd;
$background-dark: #8b4000;
$background-light: #ef7215;
$background-pale: #ff7417;
$background-moredark: #f05e23;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
  min-height: 100%;
  max-height: 500px;
  flex-direction: inherit;
  object-fit: cover;
  overflow: hidden;
}

.container {
  display: flex;
}

// .mat-toolbar mat-primary

.mat-toolbar {
  background-color: rgb(255, 102, 0);
  color: white;
}

.active {
  background: $background-moredark;
}

.wrapper {
  width: 100%;
  height: 100%;
}
#videoDiv {
  position: relative;

  // object-fit: cover;
  // overflow: hidden;
}

#video {
  // height: 500px;
  object-fit: cover;
  overflow: hidden;
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  // width: auto;
  // height: 50%;
  height: 40vw;
}
