<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h1 class="aboutHeader">About Us</h1>
      <hr />
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2 class="historyTitle">Our History</h2>
        <p class="historyText">
          It started in 2004. When founder, Sukiyabashi Jiro got board of
          retirement and wanted to live his life long dream of being a chef.
          Although not traditionally trained at any school as other chefs, Jiro
          has been cooking since childhood. He Opened the resturant with modest
          intents, but to his suprise, Yukihira became a local Phenomena due its
          unique mix of Japanese, Russian and French cusine. With its sucess,
          Jiro is looking to expand to more location isn Japan. So stay on the
          look out!
        </p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt class="factsItems">Started</dt>
              <dd>1 Jan. 2004</dd>
              <dt class="factsItems">Major Stake Holder</dt>
              <dd>Soft Bank.</dd>
              <dt class="factsItems">Last Year's Turnover</dt>
              <dd>¥56,361,126.42</dd>
              <dt class="factsItems">Employees</dt>
              <dd>35</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>
          You better cut the pizza in four pieces because I'm not hungry enough
          to eat six.
        </h3>
        <footer>
          -- Yogi Berra,
          <cite
            >The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books,
            2014</cite
          >
        </footer>
      </blockquote>
    </mat-card>
  </div>
  <!-- 
  <div fxFlex>
    <h2>Corporate Leadership</h2>
    <mat-list *ngIf="leaders" [@expand]>
      <mat-list-item *ngFor="let leader of leaders">
        <img mat-list-avatar src="{{ leader.image }}" width="5%" />
        <h4 class="leaderName">{{ leader.name }} {{ leader.abbr }}</h4>
        <p class="leaderDesignation">{{ leader.designation }}</p>
        <p>{{ leader.description }}</p>
      </mat-list-item>
    </mat-list>
    <div fxFlex [hidden]="leaders">
      <mat-spinner></mat-spinner>
      <h4>Loading ... Please Wait!</h4>
    </div>
  </div> -->

  <div fxFlex id="divHeight">
    <h2>Corporate Leadership</h2>
    <mat-list id="ListHeight" *ngIf="leaders" [@expand]>
      <mat-list-item id="ListHeight" *ngFor="let leader of leaders">
        <img mat-list-avatar src="{{ leader.image }}" width="5%" />
        <h4 class="leaderName">{{ leader.name }} {{ leader.abbr }}</h4>
        <p class="leaderDesignation">{{ leader.designation }}</p>
        <div>{{ leader.description }}</div>
      </mat-list-item>
    </mat-list>
    <div fxFlex [hidden]="leaders">
      <mat-spinner class="orange-spinner"></mat-spinner>
      <h4>Loading ... Please Wait!</h4>
    </div>
  </div>
</div>
