.full-width {
  width: 95%;
}

.half-width {
  width: 45%;
}

.form-size {
  width: 75%;
}

.contactTitle {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

#LocationInfo {
  margin-left: 3rem;
}
#feedback {
  margin-left: 3rem;
}
