<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  flexLayoutGap="10px"
  flexLayoutGap.xs="10px"
>
  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ dish.image }}"
        alt="{{ dish.name }}"
      />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <h3> Comments</h3>
    <!-- {{ dish.comments[0].comment}} -->
    <div *ngFor="let comment of dish.comments">
      <!-- {{ dish.comments[0].comment}} -->
      {{comment.comment}}
      <br>
      {{comment.rating}} stars
      <br>
      {{comment.author}} {{comment.date}}
      <br>
      <br>
  </div>
  </div>
</div>
