.featured-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  // max-width: 520px;
  background: rgb(212, 212, 212);
}

// .example-header-image {
//   background-image: url("");
//   background-size: cover;
// }

.mat-card-content {
  font-size: 20px;
}

.mat-card-title {
  font-size: 30px;
}

.comments {
  margin-left: 40px;
}

p {
  margin: 0;
}

#dishDetial {
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 40px;
}

#CommentBox {
  max-width: 100%;
}
