<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
>
  <mat-card class="example-card" *ngIf="dish" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ dish.name }}</mat-card-title>
      <mat-card-subtitle>New Dish</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
    <mat-card-content>
      <p>
        {{ dish.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <div fxFlex [hidden]="dish || disErrMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait!</h4>
  </div>
  <div fxFlex *ngIf="disErrMess">
    <h2>Error</h2>
    <h4>{{ disErrMess }}</h4>
  </div>

  <mat-card class="example-card" *ngIf="promotion" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ promotion.name }}</mat-card-title>
      <mat-card-subtitle>Promotional Item</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ promotion.image }}"
      alt="{{ promotion.name }}"
    />
    <mat-card-content>
      <p>
        {{ promotion.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <div fxFlex [hidden]="promotion || disErrMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait!</h4>
  </div>
  <div fxFlex *ngIf="disErrMess">
    <h2>Error</h2>
    <h4>{{ disErrMess }}</h4>
  </div>

  <mat-card class="example-card" *ngIf="leader" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ leader.name }}</mat-card-title>
      <mat-card-subtitle>Star Chef</mat-card-subtitle>
    </mat-card-header>
    <div id="imgDiv">
      <img mat-card-image src="{{ leader.image }}" alt="{{ leader.name }}" />
    </div>
    <mat-card-content>
      <p>
        {{ leader.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <div fxFlex [hidden]="promotion || disErrMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait!</h4>
  </div>
  <div fxFlex *ngIf="disErrMess">
    <h2>Error</h2>
    <h4>{{ disErrMess }}</h4>
  </div>
</div>
